body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #EEE0CB;
    color: #280003;
    border-bottom: 6px solid #AE8765;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */

}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

.avatar-overlay {
    background-color: #280003;
    position: absolute;
    top: 40px;
    width: 150px;
    height: 160px;
    opacity: 0;
    color: #EEE0CB;
}
.avatar-overlay p {
    margin-top: 70px;
}
.avatar-overlay:hover{
    opacity: 0.65;
}
.avatar-container {
    width: 150px;
    height: 160px;
}